

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #3f3f3e90 0%, #00000025 50%, #79787881 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 2%;
    padding: 2%;
    background-image: linear-gradient(to right, #2a2a29 0%, #ff00004a 50%, #2b2a2a 100%);

   
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 2%;
    background-color: rgba(219, 6, 144, 0.127);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(245, 246, 246, 0.446);
    padding: 2%;
}

h1{
    flex: 1;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 153, 0, 0.657), 0 0 5px rgb(251, 226, 8);
    

}

h1.lit {
    text-shadow: 1px 1px 5px #ffcc00, 0 0 10px #ffcc00, 0 0 15px #ffcc00, 0 0 20px #ffcc00;
  }

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 20%;
    height: auto;
    margin-right: 70px;

}

.led-button {
    margin-left: 10px;
}

.led-button span {
    display: flex;
    align-items: center;
}

.led-button i {
    margin-right: 5px;
}

/* Estilos para pantallas mayores a 768px */
@media only screen and (min-width: 768px) {
    /* Agregar estilos aquí */
  }
  
  /* Estilos para pantallas mayores a 992px */
  @media only screen and (min-width: 992px) {
    /* Agregar estilos aquí */
  }
  
  /* Estilos para pantallas mayores a 1200px */
  @media only screen and (min-width: 1200px) {
    /* Agregar estilos aquí */
  }